<ion-header class="flat">
    <ion-toolbar class="colored">
        <ion-buttons slot="start">
            <ion-button color="light" routerDirection="forward" routerLink="/account">
                <ion-icon ios="md-contact" md="md-contact"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light" text-center>Scan</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="initSearch()">
                <ion-icon ios="ios-search" md="ios-search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <section *ngIf="settings.monitoring">
        <ion-item>
            <ion-label>Water Quality Scanner</ion-label>
            <ion-toggle [(ngModel)]="settings.monitoring" (ionChange)="monitorCar($event)" data-key="DEALS" slot="end"></ion-toggle>
        </ion-item>
        <div>
            <zxing-scanner [torch]="torchEnabled" (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="OnHasPermission($event)"></zxing-scanner>
        </div>
    </section>
</ion-content>
<ion-footer class="flat">
    <footer-tabs></footer-tabs>
</ion-footer>